*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C0CDEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #ffffff;
    height: 45vh;
    width: 20vw;
    margin: 20vh;
    padding: 1rem;
    border-radius: 0.4rem ;
}

form input,select,button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input {
    border: 1px solid lightgray;
    height: 2rem;
    padding-left: 0.5rem;
}

.amount{
    margin-top: 1rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.select-container{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

.select-container img{
    max-width: 1.75rem;
}

.msg{
    margin: 1rem 0;
}

form button{
    background-color: #0075f2;
    color: #ffffff;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

